services:
  - type: web
    name: polygon-erigon-live
    env: docker
    region: oregon
    plan: standard
    
    disk:
      name: erigon-data
      mountPath: /data
      sizeGB: 20
    
    envVars:
      - key: PORT
        value: 8545
      - key: ERIGON_CHAIN
        value: bor-mainnet
    
    healthCheckPath: /
    autoDeploy: true
    dockerfilePath: ./Dockerfile
    dockerContext: ./
